<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">
    <img src="assets/home-image.png" alt="delivery image" class="delivery-image"/>

    <h1>Entregamos mantimentos à sua porta</h1>
    <p>
      A mercearia oferece vegetais e frutas frescas. Encomende itens frescos na mercearia.
    </p>

    <ion-button expand="full" color="primary">
      INICIAR
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink= "['/categories']">Iniciar
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="document-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
